{
  "swagger": "2.0",
  "info": {
    "title": "API Evangelist - Change Log API",
    "description": "This is an change log for helping manage the change log details of many disparate Change Log. Not all APis use the same approach, and this is an attempt to organize the mess.",
    "termsOfService": "http://kinlane.com/terms-of-service.html",
    "version": "v1"
  },
  "host": "change-log.api.apievangelist.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/change-log/": {
      "get": {
        "summary": "Get Change Log",
        "description": "retrieves all change log entries",
        "operationId": "getChange Log",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "query",
            "description": "a text query to search across change log entries",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host for the change log entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "change log response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/change_log"
              }
            }
          }
        },
        "tags": [
          "Change Log"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "post": {
        "summary": "Add Change Log",
        "description": "add change log",
        "operationId": "addChangeLog",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host of the change log entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "title",
            "description": "title of the change log entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "image",
            "description": "image for the change log entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "header",
            "description": "header for the change log entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "footer",
            "description": "footer for the change log entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "change log response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/change_log"
              }
            }
          }
        },
        "tags": [
          "Change Log"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/change-log/{change_log_id}/": {
      "delete": {
        "summary": "Delete Change Log",
        "description": "delete an change log entry",
        "operationId": "deleteChangeLog",
        "parameters": [
          {
            "in": "path",
            "name": "change_log_id",
            "description": "id for the change log entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host for the change log entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "change log response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/change_log"
              }
            }
          }
        },
        "tags": [
          "Change Log"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "get": {
        "summary": "Get Change Log",
        "description": "retrieve a specific change log entry",
        "operationId": "getChangeLogEntry",
        "parameters": [
          {
            "in": "path",
            "name": "change_log_id",
            "description": "id for the change log entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "change log response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/change_log"
              }
            }
          }
        },
        "tags": [
          "Change Log"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "put": {
        "summary": "Update Change Log",
        "description": "update an change log entry",
        "operationId": "updateChangeLog",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "title",
            "description": "title of the change log entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "image",
            "description": "image for the change log entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "header",
            "description": "header for the change log entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "footer",
            "description": "footer for the change log entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host for the change log entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "change log response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/change_log"
              }
            }
          }
        },
        "tags": [
          "Change Log"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/change-log/{change_log_id}/keys/": {
      "post": {
        "summary": "Add Change Log Key",
        "description": "Add change log key",
        "operationId": "addChangeLogKey",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "change_log_id",
            "description": "unique id of the change log entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "name",
            "description": "name of the change log entry key",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "description",
            "description": "description for the change log entry key",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "change log response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/keys"
              }
            }
          }
        },
        "tags": [
          "Keys"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/change-log/{host}/default/": {
      "post": {
        "summary": "Set Default Change Log For Host",
        "description": "set default change log for host",
        "operationId": "setDefaultChangeLogForHost",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "change_log_id",
            "description": "unique id of the change log entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "name",
            "description": "name of the change log entry key",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "description",
            "description": "description for the change log entry key",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "change log response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/change_log"
              }
            }
          }
        },
        "tags": [
          "Keys"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/change-log/{host}/": {
      "get": {
        "summary": "Get Change Log by Host",
        "description": "retrieves all change_log entries by host",
        "operationId": "getChange Log",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "query",
            "description": "a text query to search across change log entries",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host for the change log entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "change log response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/change_log"
              }
            }
          }
        },
        "tags": [
          "Change Log"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    }
  },
  "definitions": {
    "change_log": {
      "properties": {
        "change_log_id": {
          "description": "The unique id for the change log entry.",
          "type": "string"
        },
        "title": {
          "description": "The title for the change log entry.",
          "type": "string"
        },
        "image": {
          "description": "The image for the change log entry.",
          "type": "string"
        },
        "header": {
          "description": "The header for the change log entry.",
          "type": "string"
        },
        "footer": {
          "description": "The footer for the change log entry.",
          "type": "string"
        },
        "keys": {
          "description": "The keys for the change log entry.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/keys"
          }
        }
      }
    },
    "keys": {
      "properties": {
        "key_id": {
          "description": "The unique id for the change_log key.",
          "type": "string"
        },
        "name": {
          "description": "The unique id for the change log entry.",
          "type": "string"
        },
        "description": {
          "description": "The title for the change log entry.",
          "type": "string"
        },
        "change_log_id": {
          "description": "The unique id for the change log entry.",
          "type": "string"
        }
      }
    }
  }
}
